In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('appointment.csv')

In [3]:
df

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,SMS_received,No-show,PRIORITY_TYPE_CODE,Index of Multiple Deprivation Decile,Income Decile,Employment Decile,Education and Skills Decile,Health and Disability Decile,City
0,2.990000e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,No,1.0,10.0,9.0,9.0,7.0,10.0,No
1,5.590000e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,No,NaN,7.0,7.0,9.0,6.0,9.0,No
2,4.260000e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,No,NaN,7.0,7.0,9.0,6.0,9.0,No
3,8.680000e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,No,NaN,10.0,10.0,9.0,8.0,10.0,No
4,8.840000e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,No,NaN,10.0,10.0,10.0,10.0,10.0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32392,6.640000e+11,5647547,F,2016-05-02T13:51:56Z,2016-05-19T00:00:00Z,28,PARQUE MOSCOSO,0,Yes,1.0,7.0,9.0,9.0,9.0,10.0,Yes
32393,3.740000e+13,5661968,M,2016-05-05T07:57:59Z,2016-05-05T00:00:00Z,2,CONSOLAÇÃO,0,No,1.0,10.0,9.0,10.0,9.0,10.0,No
32394,9.960000e+12,5688887,F,2016-05-12T07:45:40Z,2016-05-12T00:00:00Z,31,CENTRO,0,No,1.0,5.0,7.0,9.0,7.0,9.0,No
32395,6.650000e+12,5713273,F,2016-05-18T09:56:02Z,2016-05-19T00:00:00Z,59,PARQUE MOSCOSO,0,No,1.0,NaN,NaN,NaN,NaN,NaN,No
32396,4.140000e+13,5644851,M,2016-05-02T09:10:58Z,2016-05-05T00:00:00Z,54,PARQUE MOSCOSO,0,No,1.0,3.0,2.0,4.0,3.0,6.0,No

In [4]:
df.shape

(32397, 16)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32397 entries, 0 to 32396
Data columns (total 16 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   PatientId                             32397 non-null  float64
 1   AppointmentID                         32397 non-null  int64
 2   Gender                                32397 non-null  object
 3   ScheduledDay                          32397 non-null  object
 4   AppointmentDay                        32397 non-null  object
 5   Age                                   32397 non-null  int64
 6   Neighbourhood                         32397 non-null  object
 7   SMS_received                          32397 non-null  int64
 8   No-show                               32397 non-null  object
 9   PRIORITY_TYPE_CODE                    32073 non-null  float64
 10  Index of Multiple Deprivation Decile  31563 non-null  float64
 11  Income Decile                         31563 non-null  float64
 12  Employment Decile                     31563 non-null  float64
 13  Education and Skills Decile           31563 non-null  float64
 14  Health and Disability Decile          31563 non-null  float64
 15  City                                  32397 non-null  object
dtypes: float64(7), int64(3), object(6)
memory usage: 4.0+ MB

In [6]:
## To make all the columns of the dataset visible
pd.set_option('display.max_columns', 16)

## To make all the rows of the dataset visible
pd.set_option('display.max_rows', 32397)

In [7]:
## To get the first five rows of dataset
df.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,SMS_received,No-show,PRIORITY_TYPE_CODE,Index of Multiple Deprivation Decile,Income Decile,Employment Decile,Education and Skills Decile,Health and Disability Decile,City
0,2.990000e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,No,1.0,10.0,9.0,9.0,7.0,10.0,No
1,5.590000e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,No,NaN,7.0,7.0,9.0,6.0,9.0,No
2,4.260000e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,No,NaN,7.0,7.0,9.0,6.0,9.0,No
3,8.680000e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,No,NaN,10.0,10.0,9.0,8.0,10.0,No
4,8.840000e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,No,NaN,10.0,10.0,10.0,10.0,10.0,No

In [8]:
## To get the first ten rows of dataset
df.head(10)

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,SMS_received,No-show,PRIORITY_TYPE_CODE,Index of Multiple Deprivation Decile,Income Decile,Employment Decile,Education and Skills Decile,Health and Disability Decile,City
0,2.990000e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,No,1.0,10.0,9.0,9.0,7.0,10.0,No
1,5.590000e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,No,NaN,7.0,7.0,9.0,6.0,9.0,No
2,4.260000e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,No,NaN,7.0,7.0,9.0,6.0,9.0,No
3,8.680000e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,No,NaN,10.0,10.0,9.0,8.0,10.0,No
4,8.840000e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,No,NaN,10.0,10.0,10.0,10.0,10.0,No
5,9.600000e+13,5626772,F,2016-04-27T08:36:51Z,2016-04-29T00:00:00Z,76,REPÚBLICA,0,No,1.0,2.0,1.0,2.0,2.0,3.0,No
6,7.340000e+14,5630279,F,2016-04-27T15:05:12Z,2016-04-29T00:00:00Z,23,GOIABEIRAS,0,Yes,1.0,10.0,10.0,10.0,8.0,10.0,Yes
7,3.450000e+12,5630575,F,2016-04-27T15:39:58Z,2016-04-29T00:00:00Z,39,GOIABEIRAS,0,Yes,3.0,10.0,10.0,10.0,10.0,10.0,Yes
8,5.640000e+13,5638447,F,2016-04-29T08:02:16Z,2016-04-29T00:00:00Z,21,ANDORINHAS,0,No,3.0,7.0,7.0,9.0,10.0,8.0,No
9,7.810000e+13,5629123,F,2016-04-27T12:48:25Z,2016-04-29T00:00:00Z,19,CONQUISTA,0,No,3.0,6.0,5.0,6.0,3.0,4.0,No

In [9]:
## To get the last five rows of dataset
df.tail()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,SMS_received,No-show,PRIORITY_TYPE_CODE,Index of Multiple Deprivation Decile,Income Decile,Employment Decile,Education and Skills Decile,Health and Disability Decile,City
32392,6.640000e+11,5647547,F,2016-05-02T13:51:56Z,2016-05-19T00:00:00Z,28,PARQUE MOSCOSO,0,Yes,1.0,7.0,9.0,9.0,9.0,10.0,Yes
32393,3.740000e+13,5661968,M,2016-05-05T07:57:59Z,2016-05-05T00:00:00Z,2,CONSOLAÇÃO,0,No,1.0,10.0,9.0,10.0,9.0,10.0,No
32394,9.960000e+12,5688887,F,2016-05-12T07:45:40Z,2016-05-12T00:00:00Z,31,CENTRO,0,No,1.0,5.0,7.0,9.0,7.0,9.0,No
32395,6.650000e+12,5713273,F,2016-05-18T09:56:02Z,2016-05-19T00:00:00Z,59,PARQUE MOSCOSO,0,No,1.0,NaN,NaN,NaN,NaN,NaN,No
32396,4.140000e+13,5644851,M,2016-05-02T09:10:58Z,2016-05-05T00:00:00Z,54,PARQUE MOSCOSO,0,No,1.0,3.0,2.0,4.0,3.0,6.0,No

In [10]:
## To get the last ten rows of dataset
df.tail(10)

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,SMS_received,No-show,PRIORITY_TYPE_CODE,Index of Multiple Deprivation Decile,Income Decile,Employment Decile,Education and Skills Decile,Health and Disability Decile,City
32387,5.940000e+12,5678059,M,2016-05-10T08:00:55Z,2016-05-12T00:00:00Z,5,DO MOSCOSO,0,No,2.0,2.0,2.0,2.0,1.0,2.0,No
32388,6.620000e+12,5717106,F,2016-05-19T07:33:06Z,2016-05-19T00:00:00Z,53,CENTRO,0,No,1.0,3.0,3.0,4.0,2.0,5.0,No
32389,6.520000e+14,5713819,M,2016-05-18T10:46:04Z,2016-05-19T00:00:00Z,1,SANTA TEREZA,0,Yes,1.0,9.0,7.0,9.0,9.0,10.0,Yes
32390,6.170000e+13,5647423,F,2016-05-02T13:35:20Z,2016-05-05T00:00:00Z,79,CENTRO,0,Yes,1.0,9.0,10.0,10.0,8.0,10.0,Yes
32391,6.660000e+13,5647523,M,2016-05-02T13:48:13Z,2016-05-12T00:00:00Z,29,CENTRO,0,No,1.0,4.0,4.0,4.0,3.0,5.0,No
32392,6.640000e+11,5647547,F,2016-05-02T13:51:56Z,2016-05-19T00:00:00Z,28,PARQUE MOSCOSO,0,Yes,1.0,7.0,9.0,9.0,9.0,10.0,Yes
32393,3.740000e+13,5661968,M,2016-05-05T07:57:59Z,2016-05-05T00:00:00Z,2,CONSOLAÇÃO,0,No,1.0,10.0,9.0,10.0,9.0,10.0,No
32394,9.960000e+12,5688887,F,2016-05-12T07:45:40Z,2016-05-12T00:00:00Z,31,CENTRO,0,No,1.0,5.0,7.0,9.0,7.0,9.0,No
32395,6.650000e+12,5713273,F,2016-05-18T09:56:02Z,2016-05-19T00:00:00Z,59,PARQUE MOSCOSO,0,No,1.0,NaN,NaN,NaN,NaN,NaN,No
32396,4.140000e+13,5644851,M,2016-05-02T09:10:58Z,2016-05-05T00:00:00Z,54,PARQUE MOSCOSO,0,No,1.0,3.0,2.0,4.0,3.0,6.0,No